<div class="abt-banner new-banner-abt02">
  <div class="wrap">
  <h1>Privacy Policy</h1>
  </div>
  </div>
  <section class="aboutus-sec sec-privacynew" style="background:#fff;border-bottom:1px solid #ccc;">
    <div class="wrap">
   <div class="content-style">
   
   <p class="text-style">We, at <a href="#" style="color:#ad1005;">kcmatches.com</a>, are committed to premium service and your right to privacy, attained through management of information provided by you, in a manner most suitable in this age of data abuse. Hence, we lay before you this privacy policy of our matrimonial portal.</p>
   <div class="left-img"><img src="../assets/images/privacy-policy-web.jpg" alt=""/></div>
   
   
   <div class="text-sec-right">
   <p class="text-style">
   <b class="question-det">  What information will the member require to provide?</b>
   Members applying for services will be required to provide email address, first name, last name, location, contact number. However, data requirement may change in accordance with the services expected by the guest.</p>
   <p class="text-style">
   <b class="question-det"> How does the portal use the information collected from the members?</b>
   As part of the normal operation of our services, collection and disclosure of personal information is strictly limited to the purpose of providing customised service. The website may use the available data in order to serve better and filter information on the behalf of the member.  </p>
   
   </div>
   
   
   <p class="text-style">
   <b class="question-det"> Who are the beneficiaries of the data collected by this website?</b>
   Using standard practices to protect your privacy, the information provided is made available to the administrators, matchmaking devotee counsellors and other members within the organisation. We ensure complete and unconditional support in situations arising from legal requirement of providing information of a member. </p>
   
   </div>
    </div>
   </section>