<div class="abt-banner new-banner-abt02">
  <div class="wrap">
    <h1>Grihastha Training</h1>
  </div>
</div>
<section class="grihastha-training-sec">
  <div class="wrap">
    <div class="content-style">
      <div class="div-marriage_counselling">
        <h2>WE CAN HELP YOU MAKE A BETTER CHOICE</h2>
        <p class="text-style">Kcmatches partners with you from the very beginning. At the very outset of your decision to start looking for a prospective
          groom/ bride, kcmatches helps you to develop a holistic perspective towards marriage. Through grihastha training
          we provide assistance in the following ways:</p>

        <ul>
          <li><b>A personalised guidance into how a life partner can be chosen</b></li>
          <li><img src="../assets/images/tik-icon.png" alt="" /> Setting expectations and assessing the future trajectory of
            life</li>
          <li><img src="../assets/images/tik-icon.png" alt="" /> How to turn to Prabhupada's teachings for a successful married
            life</li>
          <li><img src="../assets/images/tik-icon.png" alt="" /> How to protect oneself from common pitfalls</li>
          <li><img src="../assets/images/tik-icon.png" alt="" /> Counselling by senior, experienced grihasthas</li>
        </ul>

      </div>

    </div>
  </div>
</section>