<div class="banner-section">
  <div class="wrap">
    <div class="right-part">
      <!--  <div  class="content-div">Introducing the first-ever global platform for </div> -->
      <h1>
        <!-- ISKCON Devotees <br/> and Matchmakers. -->Krishna Conscious Matches</h1>
      <div class="content-div" style="padding-bottom: 10px;">Introducing a platform for ISKCON devotees and matchmakers.</div>
      <div class="content-div">This site is dedicated to finding a suitable match for those ISKCON devotees who wish to enter into grihastha-ashrama.
        </div>
      <div class="content-div">It is by great fortune that one gets a devotee as a life partner. </div>
      <div class="content-div" style="margin-top: 20px;">We also provide grihastha training and marriage counseling. </div>
      <a routerLink="/registration" class="get-started-btn">Get Started</a>
    </div>
  </div>
</div>
<section class="privacy-policy">
  <div class="wrap">
    <div class="left-sec">
      <h1><span></span> Privacy Policy</h1>
      <!-- <p>We hereby assure you that, your privacy is our 
  prime priority. </p> -->
      <p class="content-normal">We will comply with your decision on people to share your pictures, identity, and contact details with.To take benefit
        of our services, you are required to display spiritual references which will be verified. A Member can only send
        you one message until you accept their invitation.</p>
      <a routerLink="/privacy-policy" class="read-more">Read More</a>
    </div>
  </div>
</section>


<section class="training-det-sec">
  <div class="wrap">
    <div class="left-part"><img src="../assets/images/image2.jpg" alt="" /></div>
    <div class="right-part">
      <h1><span></span> Grihastha Training </h1>
      <!-- <p>Introducing the first-ever global platform for 
  ISKCON devotees and matchmakers.  </p> -->
      <p class="content-normal"> To evaluate readiness for marriage, manage expectations and check compatibility. Deeper understanding of roles of husband
        and wife in a marriage. To learning how to balance personal relationship with spirituality. This training is designed
        for those thinking of marriage in their future, engaged couples preparing for marriage and newly married couples.</p>
      <a routerLink="/grihastha-training" class="read-more">Read More</a>
    </div>
  </div>
</section>


<section class="marriage-info-sec">
  <div class="wrap">
    <div class="left-sec">
      <h1><span></span> Marriage Counselling</h1>
      <!-- <p>Get rid of the negative patch in your marriage,  </p> -->
      <p class="content-normal">Due to personal weakness and immaturity, the degrading social climate in which many people live, misunderstanding about
        the purpose and value of marriage, the absence of strong spiritual communities, the lack of skills and examples,
        so many marriages flounder. We provide counselling sessions to help them have realistic expectations and get an understanding
        of how to make marriage work Krishna consciously. </p>
      <a routerLink="/marriage-counselling" class="read-more">Read More</a>
    </div>
    <div class="img-right"><img src="../assets/images/marriage.png" alt="" /></div>
  </div>
</section>

<section class="training-det-sec yellow-sec">
  <div class="wrap">
    <div class="left-part"><img src="../assets/images/image3.png" alt="" /></div>
    <div class="right-part">
      <h1><span></span>Profiles From All Over </h1>
      <!-- <p>From across the world, ISKCON devotees
  come together to find their soulmate.  </p> -->
      <p class="content-normal">Mariage is the beginning of a family, a feeling of oneness, completion like never before. From the thousands of people
        who found the love of their life with KCMatches, here are a few. </p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </div>
</section>