<div class="abt-banner new-banner-abt02">
  <div class="wrap">
    <h1>About Us</h1>
    <p class="banner-txt">This website is a portal for ISKCON (International Society for Krishna Consciousness) members who are desirous of a married
      life in Krishna consciousness. It is a free service which facilitates its members to look for partners to enter ‘Grihastha
      Ashram’.</p>
  </div>
</div>
<section class="aboutus-sec">
  <div class="wrap">
    <div class="content-style">
      <div class="">
        <h2>OUR VISION</h2>
        <p class="text-style">The purpose of marriage for husband and wife is to assist each other in going back home back to Godhead. Vedic marriage
          or ‘Grihastha Ashram’ is one of the four ‘ashrams’ prescribed for human life in the scriptures. His Divine Grace
          A.C Bhaktivedanta Swami Srila Prabhupada, the Founder Acharya of ISKCON, gave clear and detailed instructions about
          how married life can be utilised for perfecting one’s life. This involves placing of Krishna and devotional life
          as being central to the vortex of material existence. This approach to the union of man and woman recognises Krishna
          as being the pivot of their relationship. </p>
        <p class="text-style">Our website is based on this sublime vision and provides a platform for serious followers of the ‘Vaishnava’ philosophy
          to find a suitable match under the tutelage of advanced & senior devotees.</p>
        <p style="padding-bottom: 10px;"><b>The objective of our portal is:</b> </p>
        <ul class="list-content">

          <li>To provide practical guidance and insight into Vedic marriage, its contemporary relevance and significance in devotional
            life.</li>
          <li>To provide a safe and personalised forum for match making, to devotees aspiring to enter the ‘Grihastha Ashram’.</li>
          <li>To serve as a global online facility for experienced ‘Vasihnavas’, such as congregation heads, counsellors and
            others, to educate and empower devotees in making use of the facility of marriage, for devotional purposes.</li>

        </ul>
      </div>

    </div>
  </div>
</section>


<section class="sec3-aboutus">
  <div class="wrap">
    <div class="content-style">
      <h2>WHOM DOES THIS WEBSITE CATER TO?</h2>
      <p>This site is a little different from other matrimonial services. This is a portal meant exclusively for followers of
        ISKCON or members of ‘Gaudiya Vaishnava Sampradaya’. It caters to those who are serious, practising devotees. Therefore,
        this website will not be helpful if one is a pious Hindu interested in a similar match.</p>
    </div>

    <div class="content-style style2">
      <h2>WHAT ARE THE OTHER SERVICES, BESIDES MATCH MAKING, PROVIDED BY THIS WEBSITE?</h2>
      <p>At kcmatches, we are conscious of the need of regular counselling and guidance required to married couples. This portal
        also provides this facility through experienced and mature senior devotees. Grihastha counsellors can be contacted
        via email or mobile. If the location of a counsellor permits, these services can be availed of in person too. </p>
    </div>
  </div>
</section>