<div class="abt-banner new-banner-abt02">
  <div class="wrap">
    <h1>Resources</h1>
  </div>
</div>
<section class="aboutus-sec" style="background: none; border-bottom: 1px solid #ccc;">
  <div class="wrap">
    <div class="content-style">
      <div class="left-part new-respoures_page">
        <p><a href="https://vaniquotes.org/wiki/Grhastha_(Conversations_1967_-_1975)" target="_blank">Vanipedia - Srila Prabhupada's quotations on Grihastha Ashrama</a></p>
        <p><a href="http://www.vedabase.com/en/synonyms-index?original_op=contains&original=grhastha&translation_op=contains&translation="
            target="_blank">Vedabase - Srila Prabhupada's writings on Grihastha Ashrama</a></p>
        <p><a href="http://vaisnavafamilyresources.org" target="_blank">Vaisnava Family Resources</a></p>
        <p><a href="http://www.iskconcongregation.com" target="_blank">IISKCON Congregation Development Ministry</a></p>
        <p><a href="http://iskconeducationalservices.org/HoH/practice/702.htm" target="_blank">ISKCON Education Services - 'Heart of Hinduism' explanation on the four ashrams</a></p>
        <p><b>What It Means To Be a Grihastha -</b>
          <br/><a href="http://www.goldenagemedia.org/products/what-it-means-to-be-a-grihasta-10352.html" target="_blank">http://www.goldenagemedia.org/products/what-it-means-to-be-a-grihasta-10352.html</a></p>

      </div>
      <div class="right-part resoures-right-sec" style="margin-top: 0;"><img src="../assets/images/resources-home.jpg" alt="" /></div>
    </div>
  </div>
</section>